/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #404040; 
  background:rgb(219, 189, 138, 0.2)
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
/*--------------------------------------------------------------
# Top
--------------------------------------------------------------*/
#topsection{
    height: 40px;
    font-size: 14px;
    text-align: center;
}


#topsection .contact-info i{
    color:#d5b276;
    padding-right: 5px;
    font-size:16px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.navbar{
    height: 60px;
    background-color: rgb(213, 178, 118, 0.6);
    border-bottom: 1px solid rgb(213, 178, 118, 0.6);
    z-index: 1;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.navbar-name{
    font-size: 28px;
    margin:0;
    padding-left: 20px;
    font-size: 37px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color:#404040;
    text-decoration: none;
}

.hyperlink{
    text-decoration: none;
    color: #404040;
    padding: 2rem 2rem;
}

.hyperlink:hover{
  color: #f64f59;
}

.navbar .sticky{
  background:#c3923c; 
}
/*--------------------------------------------------------------
# mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  .hyperlink{
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 100px);
    position: absolute;
    width: 100%;
    top: -1000px;
  }

  .navbar-menu.active{
    top:100%;
    opacity: 1;
    z-index: 999;
    height: 100vh;
    font-size: 1.5rem;
    background: rgb(219, 189, 138);

  }
  .navbar-toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    display: block;
    cursor:pointer;
    background:#fff;
  }

  #mobile-menu{
    position: absolute;
    top: 15%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity:0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*--------------------------------------------------------------
# Hero section
--------------------------------------------------------------*/
#hero{
  width: 100%;
  height: 100vh;
  background: url("image/hero-background.jpg")  no-repeat;
  background-size: cover;
  position: relative;
}

@media(min-width: 992px){
  #hero{
    padding-left: 160px;
  }
}

#hero:before{
  content: "";
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1{
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color:#45505b;
}

#hero p{
  color:#45505b;
}

#hero .social-links{
  margin-top:30px;
}

#hero .social-icon a{
  font-size: 24px;
  display: inline-block;
  color:#45505b;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#hero .social-icon a:hover{
  color:#f64f59;
}

@media (max-width: 992px) {
  #hero {
    text-align: center;
  }
  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }
  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

.typed{
  line-height: 2;
  font-size: 25px;
  color:#f64f59;
}

/*--------------------------------------------------------------
# sections general
--------------------------------------------------------------*/
section{
  padding: 60px 0;
  overflow: hidden;
}

.section-title{
  text-align: left;
  padding-bottom: 30px;
}

.section-title h2{
  font-size:32px;
  font-weight:bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  color: #404040;
  text-align: center;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #dddddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background:salmon;
  bottom: 0;
  left: calc(50% - 20px);
}

/*--------------------------------------------------------------
# about section
--------------------------------------------------------------*/
.about .content h3{
  font-weight: 700;
  font-size: 26px;
  color: #9ca3aa;
}

.about .content ul{
  list-style: none;
  margin-top: 20px;
}

.about .content ul li{
  padding-bottom: 10px;
}

.about .content ul i{
  font-size: 20px;
  padding-right: 2px;
  color: #404040;
}
