/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #404040; 
  background:rgb(219, 189, 138, 0.2)
}

h1, h2, h3, h4, h5, h6{
    font-family: "Raleway", sans-serif;
  }

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

/*--------------------------------------------------------------
# Top
--------------------------------------------------------------*/
#topsection{
    height: 40px;
    font-size: 14px;
    text-align: center;
}

#topsection .contact-info i{
    color:#d5b276;
    padding-right: 5px;
    font-size:16px;
}

#topsection .languages ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

#topsection .languages ul a {
  color: #404040;
}


#topsection .languages ul li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: rgba(255, 255, 255, 0.5);
}

.link{
  text-decoration: none;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.navbar{
    height: 60px;
    background-color: rgb(213, 178, 118, 0.85);
    border-bottom: 1px solid rgb(213, 178, 118, 0.85);
    z-index: 999;
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: space-between;
}

.navbar .active{
  background-color:#d5b276 ;
  z-index: 999;
}

.navbar-name{
    font-size: 28px;
    margin:0;
    padding-left: 20px;
    font-size: 37px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color:#404040;
    text-decoration: none;
}

.hyperlink{
    text-decoration: none;
    color: #404040;
    padding: 2rem 2rem;
}

.hyperlink:hover{
  color: #f64f59;
}

/*--------------------------------------------------------------
# mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  .hyperlink{
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 100px);
    position: absolute;
    width: 100%;
    top: -1000px;
  }

  .navbar-menu.active{
    top:100%;
    opacity: 1;
    z-index: 999;
    height: 100vh;
    font-size: 1.5rem;
    background: rgb(219, 189, 138);

  }
  .navbar-toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    display: block;
    cursor:pointer;
    background:#fff;
  }

  #mobile-menu{
    position: absolute;
    top: 15%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity:0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*--------------------------------------------------------------
# Hero section
--------------------------------------------------------------*/
#hero{
  width: 100%;
  height: 100vh;
  background: url("image/hero-background.jpg")  no-repeat;
  background-size: cover;
  position: relative;
}

@media(min-width: 992px){
  #hero{
    padding-left: 160px;
  }
}

#hero:before{
  content: "";
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1{
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color:#45505b;
}

#hero p{
  color:#45505b;
}

#hero .social-links{
  margin-top:30px;
}

#hero .social-icon a{
  font-size: 24px;
  display: inline-block;
  color:#45505b;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#hero .social-icon a:hover{
  color:#f64f59;
}

@media (max-width: 992px) {
  #hero {
    text-align: center;
  }
  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }
  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

.typed{
  line-height: 2;
  font-size: 25px;
  color:#f64f59;
}

/*--------------------------------------------------------------
# sections general
--------------------------------------------------------------*/
section{
  padding: 60px 0;
  overflow: hidden;
}

.section-title{
  text-align: left;
  padding-bottom: 30px;
}

.section-title h2{
  font-size:32px;
  font-weight:bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  color: #404040;
  text-align: center;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #dddddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background:salmon;
  bottom: 0;
  left: calc(50% - 20px);
}

/*--------------------------------------------------------------
# about section
--------------------------------------------------------------*/
.about{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgb(213, 178, 118, 0.85)
}

.about .content h3{
  font-weight: 700;
  font-size: 26px;
  color: #9ca3aa;
}

.about .content ul{
  list-style: none;
  margin-top: 50px;
}

.selfie{
  margin-top: 50px;
  text-align: center;
}

.about .content ul li{
  padding-bottom: 10px;
}

.about .content ul i{
  font-size: 20px;
  padding-right: 2px;
  color: #404040;
}

@media(max-width: 992px){
  .img-fluid {
    width:70%;
  }
}

/*--------------------------------------------------------------
# skills section
--------------------------------------------------------------*/
.skills ul {
  list-style: none;
  margin-top: 50px;
}

.skills ul li{
  padding-bottom: 15px;
}

/*--------------------------------------------------------------
# resume section
--------------------------------------------------------------*/
.resume .resume-title{
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color:#404040
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #f64f59;
  position: relative;
}

.resume .resume-item h4{
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color:#f64f59;
  margin-bottom: 10px;
}

.resume .resume-item h5{
  font-size: 16px;
  background: rgb(247, 248, 249, 0.7);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item:last child{
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -11px;
  top: 0;
  background: #fff;
  border: 2px solid #f64f59;
}

/*--------------------------------------------------------------
# portfolio section
--------------------------------------------------------------*/
.project-box{
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(255, 255, 255, 0.8);
}

.project-box:hover img{
  transform: scale(1.3);
}

.project-img{
  display:block;
  overflow: hidden;
}

.project-img img{
  transition: all 1s;
}

.project-content {
  padding: 2rem 3% ;
}

.project-content .p-more{
  color:salmon;
  font-size: 10px;
}

.project-content .p-more .p-tools{
  color: #404040;
  font-size: 10px;
}

.project-content .click-more{
  font-size: 30px;
  float: right;
}

.project-content .click-more a{
  color:salmon;
}

/*--------------------------------------------------------------
# portfolio inner section
--------------------------------------------------------------*/
.project-inner{
  padding: 15px 0;
  min-height: 40px;
  margin-top: 82px;
}

@media (max-width: 992px){
  .project-inner{
    margin-top: 74px;
  }
}

.project-inner ol{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 17px;
}

.project-inner .link{
  color:#f64f59;
}

.project-inner ol li+li{
  padding-left: 10px;
}

.project-inner ol li+li::before{
  display: inline-block;
  padding-right: 10px;
  content: "/"
}

.project-subtitle{
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
}

.economy-content .graphs{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
/*--------------------------------------------------------------
# footer section
--------------------------------------------------------------*/
#footer{
  background-color: rgb(213, 178, 118, 0.85);
  font-size: 14px;
  text-align: center;
  padding: 20px 0;
  height: 140px;
  line-height: 30px;
}

#footer h3{
  font-size: 2rem;
}

#footer .social-icon a{
  font-size: 24px;
  display: inline-block;
  color:#45505b;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#footer .social-icon a:hover{
  color:#f64f59;
}