/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #404040; 
  background:rgb(219, 189, 138, 0.2)
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
/*--------------------------------------------------------------
# Top
--------------------------------------------------------------*/
#topsection{
    height: 40px;
    font-size: 14px;
    text-align: center;
}


#topsection .contact-info i{
    color:#d5b276;
    padding-right: 5px;
    font-size:16px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.navbar{
    height: 60px;
    background-color: rgb(213, 178, 118, 0.6);
    border-bottom: 1px solid rgb(213, 178, 118, 0.6);
    z-index: 1;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.navbar-name{
    font-size: 28px;
    margin:0;
    padding-left: 20px;
    font-size: 37px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color:#404040;
    text-decoration: none;
}


.hyperlink{
    text-decoration: none;
    color: #404040;
    padding: 2rem 2rem;
}

.hyperlink:hover{
  color: #f64f59;
}
/*--------------------------------------------------------------
# mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  .hyperlink{
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 100px);
    position: absolute;
    width: 100%;
    top: -1000px;
  }

  .navbar-menu.active{
    top:100%;
    opacity: 1;
    z-index: 999;
    height: 100vh;
    font-size: 1.5rem;
    background: rgb(219, 189, 138, 0.2);

  }
  .navbar-toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    display: block;
    cursor:pointer;
    background:#fff;
  }

  #mobile-menu{
    position: absolute;
    top: 15%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity:0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

